
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-th-large:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-user-plus:before { content: '\e809'; } /* '' */
.icon-user-times:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-male:before { content: '\e80c'; } /* '' */
.icon-female:before { content: '\e80d'; } /* '' */
.icon-help:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-tag:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-heart-empty:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e816'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e817'; } /* '' */
.icon-cancel-circled:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-plus:before { content: '\e81a'; } /* '' */
.icon-bell-alt:before { content: '\e81b'; } /* '' */
.icon-chat:before { content: '\e81c'; } /* '' */
.icon-comment-empty:before { content: '\e81d'; } /* '' */
.icon-comment:before { content: '\e81e'; } /* '' */
.icon-chat-empty:before { content: '\e81f'; } /* '' */
.icon-pencil:before { content: '\e820'; } /* '' */
.icon-location:before { content: '\e821'; } /* '' */
.icon-compass:before { content: '\e822'; } /* '' */
.icon-trash:before { content: '\e823'; } /* '' */
.icon-trash-empty:before { content: '\e824'; } /* '' */
.icon-cog:before { content: '\e825'; } /* '' */
.icon-basket:before { content: '\e826'; } /* '' */
.icon-cart-plus:before { content: '\e827'; } /* '' */
.icon-cart-arrow-down:before { content: '\e828'; } /* '' */
.icon-calendar:before { content: '\e829'; } /* '' */
.icon-clock:before { content: '\e82a'; } /* '' */
.icon-down-dir:before { content: '\e82b'; } /* '' */
.icon-up-dir:before { content: '\e82c'; } /* '' */
.icon-left-dir:before { content: '\e82d'; } /* '' */
.icon-right-dir:before { content: '\e82e'; } /* '' */
.icon-down-open:before { content: '\e82f'; } /* '' */
.icon-left-open:before { content: '\e830'; } /* '' */
.icon-right-open:before { content: '\e831'; } /* '' */
.icon-up-open:before { content: '\e832'; } /* '' */
.icon-sun:before { content: '\e833'; } /* '' */
.icon-leaf:before { content: '\e834'; } /* '' */
.icon-emo-happy:before { content: '\e835'; } /* '' */
.icon-paper-plane:before { content: '\e836'; } /* '' */
.icon-list:before { content: '\e837'; } /* '' */
.icon-align-justify:before { content: '\e838'; } /* '' */
.icon-off:before { content: '\e839'; } /* '' */
.icon-toggle-off:before { content: '\e83a'; } /* '' */
.icon-toggle-on:before { content: '\e83b'; } /* '' */
.icon-cab:before { content: '\e83c'; } /* '' */
.icon-mars:before { content: '\e83d'; } /* '' */
.icon-yen:before { content: '\e83e'; } /* '' */
.icon-star-half:before { content: '\e83f'; } /* '' */
.icon-star-half-alt:before { content: '\e840'; } /* '' */
.icon-barcode:before { content: '\e841'; } /* '' */
.icon-list-alt:before { content: '\e842'; } /* '' */
.icon-megaphone:before { content: '\e843'; } /* '' */
.icon-binoculars:before { content: '\e844'; } /* '' */
.icon-arrows-cw:before { content: '\e845'; } /* '' */
.icon-ship:before { content: '\e846'; } /* '' */
.icon-doc-text-inv:before { content: '\e847'; } /* '' */
.icon-space-shuttle:before { content: '\e848'; } /* '' */
.icon-truck:before { content: '\e849'; } /* '' */