<div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab7">
            <li ng-class="{true: 'active', false: 'tab-red'}[isActive[0]]" ng-click="activeshow(0)">
                <a data-toggle="tab" ui-sref="farmer.farmerMoreinfo({farmerId:farmerinfo.farmerId})" >基本信息</a>
            </li>

            <li class="tab-red" ng-class="{true: 'active', false: 'tab-red'}[isActive[1]]" ng-click="activeshow(1)">
                <a data-toggle="tab" ui-sref=".applyform" >验证是上传的图片</a>
            </li>
            <li class="tab-red" ng-class="{true: 'active', false: 'tab-red'}[isActive[2]]" ng-click="activeshow(2)">
                <a data-toggle="tab" ui-sref=".shopinfo">店铺信息</a>
            </li>
            <button type="button" class="btn btn-warning" data-dismiss="modal" ui-sref="farmer">返回</button>
            
        </ul>

        <div class="tab-content radius-bordered">
            <div ui-view>
                <p>养殖户Id:{{farmerinfo.farmersId}}</p>
                <p>养殖场地址:{{farmerinfo.address}}</p>
                <p>养殖场经度:{{farmerinfo.longitude}}</p>
                <p>养殖场纬度:{{farmerinfo.latitude}}</p>
                <p>养殖方式:{{farmerinfo.multiGetType}}</p>
                <p>用户注册时间:{{farmerinfo.createTime}}</p>
                <a href="#" class="btn btn-info btn-xs edit" ui-sref=".editFishmaninfo" ng-click="toEdit(farmerinfo)">
                    <i class="fa fa-edit ficon">&#xe820;</i>
                    编辑
                </a>
            </div>

        </div>
    </div>
</div>