
<div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-lightred">
            <span class="widget-caption">新建商品子类别</span>
        </div>
        <div class="widget-body">
            <div id="horizontal-form">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label no-padding-right">请选择父类别</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="newLeaf.parentId">
                                <option ng-repeat="gccInfo in gccsInfo" value="{{gccInfo.categoryId}}">{{gccInfo.categorySimpleName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label no-padding-right">俗名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="newLeaf.categorySimpleName" id="inputtext3" placeholder="请输入产品的俗名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label no-padding-right">学名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="newLeaf.categoryAcademicName" id="inputtext3" placeholder="请输入父类别的名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label no-padding-right">英文名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="newLeaf.categoryEnglishName" id="inputtext3" placeholder="请输入父类别的名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label no-padding-right">请上传商品的图片</label>
                        <div class="col-sm-10">
                            <input type="file" name="" id="leafPhoto"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    
                                    <span class="text">上传的图片规格为（120*120）</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label no-padding-right">请选择商品的记价方式</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="newLeaf.unitName">
                                <option value="斤">按斤计算</option>
                                <option value="个">按个计算</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    
                                    <span class="text">请填写商品的规格信息</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="newLeaf.unitName=='斤'">
                        <div class="form-group" ng-repeat="skuItem in newLeaf.skulista">
                            <label for="inputtext3" class="col-sm-2 control-label no-padding-right">{{skuItem.skuname}}</label>
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" name="to" placeholder="以斤为单位" ng-model="skuItem.lowscale" class="form-control">
                                    <div class="horizontal-space"></div>
                                </div>
                                <div class="col-sm-1"><h4>到</h4></div>
                                <div class="col-md-2">
                                    <input type="text" name="subject" placeholder="以斤为单位" class="form-control" ng-model="skuItem.highscale">
                                    <div class="horizontal-space"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                     <div class="form-group" ng-show="newLeaf.unitName=='个'">
                         <div class="form-group" ng-repeat="skuItem in newLeaf.skulistb">
                             <label for="inputtext3" class="col-sm-2 control-label no-padding-right">{{skuItem.skuname}}</label>
                             <div class="row">
                                 <div class="col-md-2">
                                     <input type="text" name="to" placeholder="以斤为单位" ng-model="skuItem.lowscale" class="form-control">
                                     <div class="horizontal-space"></div>
                                 </div>
                                 <div class="col-sm-1"><h4>到</h4></div>
                                 <div class="col-md-2">
                                     <input type="text" name="subject" placeholder="以斤为单位" class="form-control" ng-model="skuItem.highscale">
                                     <div class="horizontal-space"></div>
                                 </div>
                             </div>
                         </div>

                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ui-sref="categoryleaf" ng-click="doNew()">提交</button>
                            <button  class="btn btn-default" ui-sref="categoryleaf">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>