<div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab7">
            <li ng-class="{true: 'active', false: 'tab-red'}[isActive[0]]" ng-click="activeshow(0)">
                <a data-toggle="tab" ui-sref="fishman.fishmanMoreinfo({fishmanId:fishmaninfo.fishmanId})" >基本信息</a>
            </li>

            <li class="tab-red" ng-class="{true: 'active', false: 'tab-red'}[isActive[1]]" ng-click="activeshow(1)">
                <a data-toggle="tab" ui-sref=".applyform" >验证是上传的图片</a>
            </li>
            <li class="tab-red" ng-class="{true: 'active', false: 'tab-red'}[isActive[2]]" ng-click="activeshow(2)">
                <a data-toggle="tab" ui-sref=".shopinfo">店铺信息</a>
            </li>
            <button type="button" class="btn btn-warning" data-dismiss="modal" ui-sref="fishman">返回</button>
            
        </ul>

        <div class="tab-content radius-bordered">
            <div ui-view>
                <p>渔户Id:{{fishmaninfo.fishmanId}}</p>
                <p>船主机功率:{{fishmaninfo.enginePower}}</p>
                <p>船港籍:{{fishmaninfo.homePort}}</p>
                <p>捕捞方式:{{fishmaninfo.getName}}</p>
                <p>船的建造时间:{{fishmaninfo.shipCreateTime}}</p>
                <p>船主姓名:{{fishmaninfo.realName}}</p>
                <p>船的总吨位:{{fishmaninfo.tonnage}}</p>
                <p>商家状态:{{fishmaninfo.state | shopstatus}}</p>
                <p>用户注册时间:{{fishmaninfo.createTime}}</p>
            </div>
        </div>
    </div>
</div>