.main-selection .silder-left .logo {
    background: rgb(58,63,81);
    border: none;
}

.main-selection .silder-left {
    background: rgb(58,63,81);
    padding: 10px 0px 10px 10px;
}

.main-selection .silder-left  a {
    color: rgb(168,180,185);
    font-weight:bolder;
}

.main-selection .silder-left  a:hover {
    background: rgb(50,55,74);
    color: #fff;
}